@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">List Of Superheroes</h1>
        <div class="row">
            <div class="col">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://cdn.shopify.com/s/files/1/2722/6606/products/batman.begins.mumford.variant_grande_25490670-3b1e-497c-9297-5d240059e4b9_800x.jpg?v=1575443118" alt="I" style="width:100%">
                        <div class="caption">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://cdn.shopify.com/s/files/1/0182/2915/products/TDK2_2048x.jpg?v=1571438940" alt="Am" style="width:100%">
                        <div class="caption">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://i.pinimg.com/564x/5b/1b/a2/5b1ba20f73618246d0a8a95ecd6ba12c.jpg" alt="Batman" style="width:100%">
                        <div class="caption">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
